.text{
    color: firebrick;
}

.body{
    background-color: #FAFAFA;
}

.black {
    color: black;
}

.red {
    color: firebrick;
}

a {
    text-decoration: none;
    color: black;
}

.fixed {
    position: fixed;
    bottom: 15px;
    right: 0px;
    width: 50px;
    
}

.item {
    margin-left: 10px;
}