.text{
    color: firebrick;
}

.body{
    background-color: #FAFAFA;
}

.black {
    color: black;
}

.red {
    color: firebrick;
}

a {
    text-decoration: none;
    color: black;
}

.fixed {
    position: fixed;
    bottom: 70px;
    right: 50px;
    width: 50px;
    
  }